body {
    background-color: #fefae0;
}
p, a{
    color: white;
}
.active-page{
    text-decoration: underline;
}
nav, footer{
    background-color: #aa3f3f;
    height: var(--size-50);
}
ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    font-size: var(--size-18);
    position: relative;
    top: 20%;
}

.top-four, .recent-four{
    margin: 0 auto;
    margin-top: var(--size-150);
    width: 70%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: var(--size-100) var(--size-300) var(--size-300);
    gap: var(--size-10);
}
.top-four h2, .recent-four h2 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    text-align: center;
    background-color: #a8dadc;
    justify-self: center;
    padding: var(--size-30);
    align-self: center;
}
.top-four .preview-block, .recent-four .preview-block{
    background-color: #264653;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}


footer {
    margin-top: var(--size-150);
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
    gap: var(--size-40);
    align-items: center;
}
footer .contact-me{
    width: var(--size-40);
    height: var(--size-40);
}
.contact-me img {
    filter: invert(90%) sepia(23%) saturate(477%) hue-rotate(336deg) brightness(100%) contrast(93%);
}